In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
columns = [
        "Title", "Artist", "ConstituentID", "ArtistsBio","Nationality", "BeginDate", "EndDate", "Gender", "Date", "Medium", "Dimensions","CreditLine", 
        "AccessionNumber", "Classification", "Department", "DataAcquired", "Cataloged", "ObjectID", "URL", "ThumbnailURL", "Circumference (cm)", "Depth (cm)",
        "Diameter (cm)", "Height (cm)", "Length (cm)", "Weight (kg)", "width (cm)", "Seat Height (cm)", "Duration (sec.)"
]

target = ["Cataloged"]

In [4]:
# Load the data | removed LOTS of rows to reduce dataset from 133k+ to less than 60k
file_path = Path("./new_data/removedunknown_artworks.csv")
df = pd.read_csv(file_path)

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

df.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Poolhouse, Sagaponack, New York, Scale model 1...",Lindy Roy,27259,"South African, born 1963",South African,1963,0,Female,2000,"Aluminum, wood, gypsum cement and plexiglass",...,http://www.moma.org/media/W1siZiIsIjI1MTE4NiJd...,0.0,73.6601,0.0000,30.4801,0.0,0.0,106.6802,0,0
1,"From Hardware to Softform, project (Armature m...",Winka Dubbeldam,29620,"Dutch, born 1966",Dutch,1966,0,Female,2002,Acrylic,...,http://www.moma.org/media/W1siZiIsIjQ0MDU1MSJd...,0.0,0.0000,50.8001,33.0201,0.0,0.0,15.2400,0,0
2,"From Hardware to Softform, project, Twist #316",Winka Dubbeldam,29620,"Dutch, born 1966",Dutch,1966,0,Female,2002,Digital lambda print laminated on acrylic,...,unknown,0.0,0.0000,0.0000,106.6802,0.0,0.0,106.6802,0,0
3,"From Hardware to Softform, project, Taxonomy V...",Winka Dubbeldam,29620,"Dutch, born 1966",Dutch,1966,0,Female,2002,Digital lambda print laminated on acrylic,...,unknown,0.0,0.0000,0.0000,106.6802,0.0,0.0,106.6802,0,0
4,"Cube Tower, Guadalajara, Mexico, Scale model 1...",Carme Pinos,26852,"Spanish, born 1954",Spanish,1954,0,Female,2002,"Basswood, medium-density fiberboard, maple blo...",...,http://www.moma.org/media/W1siZiIsIjEwMTA2OCJd...,0.0,90.0000,0.0000,70.0000,0.0,0.0,60.0000,0,0

In [5]:
df.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Poolhouse, Sagaponack, New York, Scale model 1...",Lindy Roy,27259,"South African, born 1963",South African,1963,0,Female,2000,"Aluminum, wood, gypsum cement and plexiglass",...,http://www.moma.org/media/W1siZiIsIjI1MTE4NiJd...,0.0,73.6601,0.0000,30.4801,0.0,0.0,106.6802,0,0
1,"From Hardware to Softform, project (Armature m...",Winka Dubbeldam,29620,"Dutch, born 1966",Dutch,1966,0,Female,2002,Acrylic,...,http://www.moma.org/media/W1siZiIsIjQ0MDU1MSJd...,0.0,0.0000,50.8001,33.0201,0.0,0.0,15.2400,0,0
2,"From Hardware to Softform, project, Twist #316",Winka Dubbeldam,29620,"Dutch, born 1966",Dutch,1966,0,Female,2002,Digital lambda print laminated on acrylic,...,unknown,0.0,0.0000,0.0000,106.6802,0.0,0.0,106.6802,0,0
3,"From Hardware to Softform, project, Taxonomy V...",Winka Dubbeldam,29620,"Dutch, born 1966",Dutch,1966,0,Female,2002,Digital lambda print laminated on acrylic,...,unknown,0.0,0.0000,0.0000,106.6802,0.0,0.0,106.6802,0,0
4,"Cube Tower, Guadalajara, Mexico, Scale model 1...",Carme Pinos,26852,"Spanish, born 1954",Spanish,1954,0,Female,2002,"Basswood, medium-density fiberboard, maple blo...",...,http://www.moma.org/media/W1siZiIsIjEwMTA2OCJd...,0.0,90.0000,0.0000,70.0000,0.0,0.0,60.0000,0,0

In [6]:
del df['Medium']

In [7]:
del df['Dimensions']

In [8]:
del df['CreditLine']

In [9]:
del df['AccessionNumber']

In [10]:
del df['ThumbnailURL']

In [11]:
del df['URL']

In [12]:
del df['ObjectID']

In [13]:
del df['Circumference (cm)']

In [14]:
del df['Depth (cm)']

In [15]:
del df['Diameter (cm)']

In [16]:
del df['Height (cm)']

In [17]:
del df['Length (cm)']

In [18]:
del df['Weight (kg)']

In [19]:
del df['Width (cm)']

In [20]:
del df['Seat Height (cm)']

In [21]:
del df['Duration (sec.)']

In [22]:
del df['Title']

In [23]:
del df['ArtistBio']

In [24]:
del df['BeginDate']

In [25]:
del df['EndDate']

In [26]:
df.head()

,Artist,ConstituentID,Nationality,Gender,Date,Classification,Department,DateAcquired,Cataloged
0,Lindy Roy,27259,South African,Female,2000,Architecture,Architecture & Design,4/22/2004,Y
1,Winka Dubbeldam,29620,Dutch,Female,2002,Architecture,Architecture & Design,10/18/2005,Y
2,Winka Dubbeldam,29620,Dutch,Female,2002,Architecture,Architecture & Design,10/18/2005,Y
3,Winka Dubbeldam,29620,Dutch,Female,2002,Architecture,Architecture & Design,10/18/2005,Y
4,Carme Pinos,26852,Spanish,Female,2002,Architecture,Architecture & Design,2/9/2006,Y

In [27]:
# Remove the `drawing` classification
issued_mask = df['Classification'] != 'Drawing'
df = df.loc[issued_mask]

In [28]:
# Create our features
X = pd.get_dummies(df.drop(columns='Cataloged'))

# Create our target
y = df['Cataloged']

In [29]:
X.describe()

,ConstituentID,Date,Artist_A. Agache,Artist_A. Calbet,Artist_A. Donnay,Artist_A. E. Gallatin,Artist_A. G. Fronzoni,Artist_A. Lawrence Kocher,Artist_A. M. Cassandre,Artist_A. R. de Ycaza,...,DateAcquired_9/29/2014,DateAcquired_9/3/1984,DateAcquired_9/3/2004,DateAcquired_9/30/1940,DateAcquired_9/30/1954,DateAcquired_9/30/1957,DateAcquired_9/30/1984,DateAcquired_9/30/1988,DateAcquired_9/7/1935,DateAcquired_9/7/2005
count,46401.000000,46401.000000,46401.000000,46401.000000,46401.000000,46401.000000,46401.000000,46401.000000,46401.000000,46401.000000,...,46401.000000,46401.000000,46401.000000,46401.000000,46401.000000,46401.000000,46401.000000,46401.000000,46401.000000,46401.000000
mean,9020.645331,1844.294175,0.000022,0.000022,0.000022,0.000022,0.001207,0.000043,0.001142,0.000022,...,0.000151,0.000129,0.000022,0.000560,0.005603,0.000022,0.000022,0.000022,0.000108,0.000129
std,13573.881834,470.966647,0.004642,0.004642,0.004642,0.004642,0.034719,0.006565,0.033778,0.004642,...,0.012282,0.011371,0.004642,0.023665,0.074646,0.004642,0.004642,0.004642,0.010380,0.011371
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1841.000000,1936.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4357.000000,1966.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6592.000000,1986.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,135298.000000,2022.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [30]:
y.value_counts()

Y    36475
N     9926
Name: Cataloged, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(34800, 7629)

In [33]:
# Resample the training data with the RandomOversampler (Naive)
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'N': 27356, 'Y': 27356})

In [34]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [35]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.6480812966418859

In [36]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[1630,  852],
       [3288, 5831]], dtype=int64)

In [37]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          N       0.33      0.66      0.64      0.44      0.65      0.42      2482
          Y       0.87      0.64      0.66      0.74      0.65      0.42      9119

avg / total       0.76      0.64      0.65      0.67      0.65      0.42     11601